.banner{
    position:relative;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYTRzLea_0zPoz0O7aO_fsZNjo8V5g5FEEpA&s');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}
.nav_bar{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: gray;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;

}
.nav_bar a :hover{
    text-decoration: underline;
}